body {
 background-image: url("https://th.bing.com/th/id/R4abc0bda5ea6c5e565c03ad94d9fda1b?rik=p9HFAPN8TNtNAg&pid=ImgRaw");
 margin-left: 20px;
 background-size: auto;
}
h2 {
  color: white;
  padding-bottom: 20px;
  margin-top: 20px;
}
header img {
  float: right;
  
}
nav {
  text-align: center;
  font-size: large;
  color: purple;
  padding-top: 10px;
  margin-top: 20px;
  box-sizing: content-box; width: 300px;height: 20px;
  padding: 30px;  
  border: 3px solid white;
  margin-left: 300px;
  
}
body main article img {
  padding-bottom: 20px;
  margin-top: 20px;
}
strong {
  color: bisque;
  font-size: 20px;
}